i{
    color: #ccc;
    font-size: 1rem;
}

.bar-sup{
    position: sticky;
    top: 0px;
    margin: 60px 0 40px;
    height: 130px;
    width: 100%;
    background: #222222;
    border-bottom: 1px solid #181818;  
    z-index: 40;  
}

.bar-search{
    position: relative;
    margin: 65px 20% 25px;
    width: 60%;
    height: 40px;
}

.bar-src{
    position: relative;
    width: 100%;
    height: 100%;   
}

.bar-src input{
    position: relative;
    background: #202020;
    border: 1px solid #181818;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    color: #ccc;
    padding: 0 20px;
    outline: none;
}

.bar-src input:focus{
    border-color: #194994;
    background: #191919;
    box-shadow: 0 0 8px #191919;
}

.bar-src i{
    position: absolute;
    top: 12px;   
    right: 1.5rem;
    cursor: pointer;
}

.content-programs{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 50px 10%;
}

#off-search{
    width: 100%;
    text-align: center;
    color: #ccc;
    font-size: 1.2em;
}

.program{
    position: relative;
    flex: 1 1 250px;
    min-width: 250px;
    max-width: 250px;
    margin: 15px auto;
    max-height: 250px;
    background: #191919;
    border: 1px dashed #ccc;
    z-index: 10;
    transition: all 0.5s linear;
    display: block;
    cursor: pointer;
}

.program .srcAudio{
    display: none;
}

.oculto{
    display: none;
}

i.oculto{
    visibility: hidden;
}

.text-program{
    width: 100%;
    font-size: 1.2em;
    color: #ccc;
    text-align: center;
    background: #000000c7;
    position: absolute;
    bottom: 10px;    
    padding: 4px;
}

.rel-program i{    
    color: #fff;
    width: 50px;
    height: 50px;
    background: #1948945d;
    border-radius: 50%;
    text-shadow: 0 0 10px #194994;
    font-size: 50px;    
    text-align: center;
    position: absolute;
    top: calc(50% - 25px); 
    left: calc(50% - 25px); 
    opacity: 0;
    transition: opacity 0.5s linear 0.3s;
}

.program-p{
    filter: grayscale(100%);
    transition: filter 0.5s linear;
}

.program:hover{
    box-shadow: 0 0 8px #194994;
}

.rel-program:hover i{
    opacity: 1;
}

.program:hover .program-p{
    filter: none;
}

#activo{
    box-shadow: 0 0 8px #fa5901;
}

#activo i{
    display: none;
}

#activo .program-p{
    filter: none;
}

#activo:hover{
    box-shadow: 0 0 8px #fa5901;
}

#activo:hover i{
    display: none;
}

#activo:hover .program-p{
    filter: none;
}

.descrip{
    display: none;
}

@media only screen and (max-width: 800px){

    .bar-search{
        width: 80%;
        margin: 65px 10% 25px;
    }

    .bar-search img{
        height: 50px;
    }

    .bar-src input{
        height: 80%;
        top: 10%;
    }

    .bar-src i{
        right: 1em;
    }
    
    .program-p{
        filter: none;
    }

    .rel-program i{
        opacity: 0.8;
    }
}